- name: Copy HAProxy configuration file
  template:
    src: haproxy.cfg.j2
    dest: /etc/haproxy/haproxy.cfg
    owner: root
    group: root
    mode: '0644'
  notify:
    - restart haproxy

- name: restart haproxy explicitly
  shell: systemctl restart haproxy
  
