frontend httpsandhttp
   bind {{ lb.ip }}:{{ lb.listeningport }}
   timeout client {{ lb.clienttimeout }}
   mode {{ lb.mode }}
   default_backend allservers
   
   
backend allservers
   timeout connect {{ lb.servertimeout }}
   timeout server {{ lb.requesttimeout }}
   mode {{ lb.mode }}

   
   server  devA  {{ hostvars['devA'].ansible_default_ipv4.address }}:{{ app.port1 }}
   server  devB  {{ hostvars['devB'].ansible_default_ipv4.address }}:{{ app.port2 }}
   server  devC  {{ hostvars['devC'].ansible_default_ipv4.address }}:{{ app.port3 }}
