#!/bin/bash

# Source the OpenStack credentials
source /opt/openrc_file

# Define the floating IP
FLOATING_IP={{ floatingIp.haproxy }}  # Ensure this is interpolated correctly

if $(hostname -f) == "proxy-1"; then
    ID="proxy_1"
    AID="proxy_2"
else
    ID="proxy_2"
    AID="proxy_1"
fi

ip addr show | grep -q $FLOATING_IP 

if [ $? -eq 0 ]; then 
    openstack remove remove floating ip $AID $FLOATING_IP
    openstack server add floating ip $ID $FLOATING_IP
fi
